#root {
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.calculator-btn {
  border: 1px solid;
  border-radius: 0px;
}
